*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
.bg{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(#4F9BF0, #D8E9FC);
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    touch-action: none;
}

.score {
    position: absolute;
    right: 30px;
    top: 30px;
    width: 100px;
    height: 60px;
    background-color: #00000088;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    text-align: center;
    font-size: 32px;
    line-height: 60px;
    font-family: monospace;
    touch-action: none;
    visibility: hidden;
    user-select: none;
}

.startScreen{
    position: absolute;
    left: calc(50% - 128px);
    top: calc(50% - 384px);
    height: 512px;
    width: 256px;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    visibility: hidden;
}

.startScreen > svg {
    position: relative;
    top: 32px;
    transform-origin: 114px 114px;
    transform: translateX(-13px);
}

.startScreen > span {
    display: inline-block;
    height: 100px;
    margin-top: -32px;
}

.startScreen > a {
    font-size: 14px;
}

#button-start {
    position: relative;
    margin-top: 32px;
    width: 256px;
    height: 64px;
    background-color: #fff;
    background-image: linear-gradient(white, whitesmoke);
    color: #000000;
    border: none;
    border-radius: 16px;
    font-size: 32px;
    font-family: monospace;

    box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0, rgba(17, 17, 26, 0.1) 0 8px 24px, rgba(17, 17, 26, 0.1) 0 16px 48px;
}

.endScreen {
    position: absolute;
    left: calc(50% - 128px);
    top: calc(50% - 64px);
    width: 256px;
    height: 128px;
    background-color: #00000088;
    color: white;
    border: 2px solid white;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 32px;
    line-height: 48px;
    font-family: monospace;
    touch-action: none;
    visibility: hidden;
    user-select: none;
}
